.nav {
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 57px;
    &__items {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
    }
    &__item {
        opacity: 0.8;
        color: #000;
        font-size: 14px;
        font-weight: 500;
        position: relative;
        cursor: pointer;
        &::after {
            content: '';
            position: absolute;
            width: 0%;
            bottom: -12px;
            left: -3px;
            border-bottom: 2px solid #0BCEAF;
            transition: width 1s;
        }
        &:hover::after {
            width: 110%;
        }
        &--active::after {
            width: 110%;
        }
        
    }
}
.portfolio {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    &__work {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    &__img {
        cursor: pointer;
    }
}