.skill {
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__header {
        color: #000;
        opacity: 0.9;
        font-size: 15px;
        font-weight: 600;
    }
    &__border {
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.50);
        height: 7px;
        width: 100%;
        position: relative;

        &--fill {
            top: 0;
            left: 0;
            position: absolute;
            background: #0BCEAF;
            height: 7px;
            border-radius: 10px;
        }
    }
    &__procents {
        color: #000;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
}