footer {
    height: 280px;
    padding: 60px 0 60px 0px;
    box-sizing: border-box;
    margin-top: 60px;
}
.footer {
    max-width: 570px;
    width: 100%;
    &__text {
        color: #000;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 16px;
    }
    &__header {
        color: #000;
        opacity: 0.8;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 20px;
    }

}
.btn {
    color: white;
    text-decoration: none;
    padding: 9px 25px;
    width: 130px;
    display: block;
    text-align: center;
    background-color: #0BCEAF;
    border-radius: 20px;
}

@media (max-width: 380px) {
    #footer {
        padding-top: 25px;
    }
}