.skills {
    &-wrap {
        display: flex;
        justify-content: space-between;
    }
    &__wrap {
        max-width: 500px;
        width: 100%;
    }
    &__prof {
        max-width: 450px;
        &--wrap {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}
.section-skills {
    margin-bottom: 100px;
}

@media (max-width: 750px) {
    .skills {
        &-wrap {
            flex-direction: column;
            align-items: center;
        }
        &__prof{
            &--wrap {
                justify-content: center;
            }
    }
}
}