.nav {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 57px;
}
.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 0;
}
.nav__item {
  opacity: 0.8;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
}
.nav__item::after {
  content: "";
  position: absolute;
  width: 0%;
  bottom: -12px;
  left: -3px;
  border-bottom: 2px solid #0BCEAF;
  -webkit-transition: width 1s;
  transition: width 1s;
}
.nav__item:hover::after {
  width: 110%;
}
.nav__item--active::after {
  width: 110%;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.portfolio__work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.portfolio__wrap {
  height: 230px;
  overflow-y: hidden;
  border-radius: 10px;
}
.portfolio__img {
  cursor: pointer;
  width: 100%;
  max-width: 350px;
}