.what {
    margin-bottom: 60px;
    margin-top: 160px;
    &__header {
        color: #000;
        font-size: 32px;
        font-weight: 700;
        line-height: 34px;
        opacity: 0.8;
        margin-bottom: 60px;
        text-align: center;
    }
    &__img {
        width: 25px;
        height: 25px;
        margin-bottom: 19px;
    }
    &__text {
        color: #000;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        margin: 0;

    }
    &__items {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    &__item{
        width: 100%;
        max-width: 350px;
        padding: 30px 20px;
        border-radius: 4px;
        background: #FFF;
        box-shadow: 0px 10px 20px 4px rgba(0, 0, 0, 0.08);
        box-sizing: border-box;
    }
    &__head {
        color: #000;
        font-size: 25px;
        font-weight: 700;
        line-height: 34px;
        margin-bottom: 19px;
        margin-top: 0;
    }
}
@media (max-width: 843px) {
    .what{
        &__item  {
            text-align: center;
        }
        &__head {
            font-size: 22px;
        }
            
    }
}
@media (max-width: 680px) {
    .what{
        &__items  {
            flex-direction: column;
        }   
        &__item  {
            max-width: fit-content;
        }
    }
}