.swiper {
    &-slide {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
    &__img {
        width: 100%;
        max-width: 850px;
        border-radius: 10px;
    }
    &__header {
        opacity: 0.8;
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 700;
        line-height: 38.4px;
        letter-spacing: 2px;
        margin-top: 11px;
        margin-bottom: 11px;
        &-green {
            letter-spacing: 1px;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 0px;
            text-transform: uppercase;
            color: #0BCEAF;
        }
    }
    &__mini-header {
        text-transform: uppercase;
        margin-top: 0px;
        margin-bottom: 11px;
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        opacity: 0.8;
    }
    &__text {
        color: #000;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        max-width: 434px;
        margin-bottom: 25px;
        &--bold {
            font-size: 16px;
            font-weight: 600;
        }
        &--italic {
            font-style: italic;
            margin-bottom: 0px;
        }
    }
    &__link {
        display: block;
        max-width: 200px;
        box-sizing: border-box;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        text-decoration: none;
        font-weight: 700;
        line-height: 24px;
        border-radius: 20px;
        opacity: 0.9;
        background: #0BCEAF;
        padding: 9px 16px 9px 16px;
        margin-bottom: 30px;
    }
}
.featured {
    background: url("./AdobeStock_107797389-2560x1200.jpg") no-repeat center center;
    padding: 90px 0;
}
@media (max-width: 1080px) {
    .swiper {
        &-slide {
            align-items: center;
        }
        &__img {
            max-width: 550px;
            height: max-content;
        }
    }
}

@media (max-width: 910px) {
    .swiper {
        &__header {
            font-size: 28px;
        }
        &__text {
            font-size: 12px;
            margin-bottom: 15px;
        }
        &__img {
            max-width: 450px;
        }
    }
}

@media (max-width: 830px) {
    .swiper {
        &__img {
            max-width: max-content;
        }
        &-slide {
            flex-direction: column;
        }
        &__description {
            width: 100%;
        }
        &__text {
            max-width: max-content;
        }
        &__link {
            margin: 0 auto;            
        }
    }
}