.about-me {
    &__header {
        color: #000;
        font-size: 32px;
        font-weight: 700;
        line-height: 38.4px; 
        opacity: 0.8;
        margin-bottom: 20px;
    }
    &__btn {
        border-radius: 20px;
        opacity: 0.9;
        background: #0BCEAF;
        padding: 9px 31px 9px 32.96px;
        color: #FFF;
        text-align: center;
        border: none;
        cursor: pointer;
    }
    &__text {
        color: #000;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        max-width: 490px;
        margin-bottom: 30px;
    }
}
.about {
    margin-top: 100px;
    &__img {
        width: 100%;
        max-width: 540px;
    }
    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
    }
}
.skills {
    max-width: 490px;
    margin-bottom: 44px;
    &__skill {
        display: inline-block;
        color: #000;
        font-size: 14px;
        margin-top: 10px;
        font-weight: 500;
        border-radius: 4px;
        border: 1px solid rgba(#0BCEAF, 0.8) ;
        padding: 1px 9.95px 1px 11px;
        margin-right: 15px;
        line-height: 24px;
    }
}
@media (max-width: 992px) {
    .about {
        &__img {
            max-width: 485px;
        }
    }
}

@media (max-width: 864px) {
    .about {
        &-wrapper {
            flex-direction: column;
        }
        &-me {
            text-align: center;
        }
    }
}