.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  padding: 0;
}
.navbar-item {
  list-style: none;
}
.navbar-item__switch {
  font-style: italic;
  cursor: pointer;
  display: block;
  margin-top: 7px;
}
.navbar-item__link {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  position: relative;
}
.navbar-item__link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 0%;
  height: 1px;
  background: #000;
  left: 0;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  opacity: 0;
}
.navbar-item__link--active::after {
  opacity: 0.8;
  width: 100%;
}
.navbar-item__link:hover::after {
  opacity: 0.8;
  width: 100%;
}

.logo {
  border-radius: 5px;
  background: #38C2AC;
  width: 74px;
  height: 38px;
  text-align: center;
}
.logo__text {
  display: block;
  padding-top: 10px;
  color: #FFF;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-switchLng {
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

@media (max-width: 840px) {
  .navbar-item__link {
    font-size: 16px;
  }
}
@media (max-width: 780px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 25px;
  }
}
@media (max-width: 690px) {
  .navbar__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .navbar-item {
    width: 100%;
    position: relative;
  }
  .navbar-item::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #000;
    width: 100%;
    left: 0;
    top: 35px;
  }
  .btn-switchLng {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
}